//************************** COLORS **************************//

//primary color
// $primary:#0056b8;
$primary: #ff4f04;
$primary-2: #e81d1d;
$secondary: #302f2f;
$third-color: #707070;

/*other colors*/
$white: #fff;
$white-2: #f5f5f6;
$gray: #686868;
$gray-2: #dfdfdf;
$black: #111;
$black-2: #200e32;
$validation: #eb3434;

//  fonts
$font-primary: "Poppins", sans-serif;
$font-secondary: "Roboto", sans-serif;
$font-third: "Heebo", sans-serif;

// start range slider var
$slider-line-height: 20px !default;
$slider-border-radius: 4px !default;

//************************** FONTS **************************//

//  Almarai fonts
// @font-face {
//   font-family: Almarai;
//   font-style: normal;
//   font-weight: 300;
//   src: local("Almarai Light"), local("Almarai-Light"),
//     url("../fonts/Almarai/ArbFONTS-Almarai-Light.ttf");
//   font-display: swap;
// }

// @font-face {
//   font-family: Almarai;
//   font-style: normal;
//   font-weight: 400;
//   src: local("Almarai Regular"), local("Almarai-Regular"),
//     url("../fonts/Almarai/ArbFONTS-Almarai-Regular.ttf");
//   font-display: swap;
// }

// @font-face {
//   font-family: Almarai;
//   font-style: normal;
//   font-weight: bold;
//   src: local("Almarai Regular"), local("Almarai-Regular"),
//     url("../fonts/Almarai/ArbFONTS-Almarai-Bold.ttf");
//   font-display: swap;
// }

// @font-face {
//   font-family: Almarai;
//   font-style: normal;
//   font-weight: 900;
//   src: local("Almarai bolder"), local("Almarai-bolder"),
//     url("../fonts/Almarai/ArbFONTS-Almarai-ExtraBold.ttf");
//   font-display: swap;
// }
