// /***********************headeings*********************/
.heading-2 {
  font-size: 5.4rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.33;
  letter-spacing: -2.53px;
  color: $white;
}
.heading-3 {
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 2.24;
  letter-spacing: -1.2px;
  color: $black;
}
.heading-4 {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.88;
  letter-spacing: -0.35px;
  color: $black;
}
.heading-5 {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1.57;
  letter-spacing: -0.35px;
  color: $black;
}
